@media screen and (max-width: 768px) {

    .input-group{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
    }

    .inputs{
        display: flex;
    }

    #res{
        display: none;
    }
}